{{- define "tink/tag" -}}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{ .blog_title }}</title>
    {{ template "tink/module/head" .}}
</head>
{{ template "tink/module/style" .}}
<body name="top">
    <tt>
        {{ template "tink/module/header" .}}
        <hr>

        <span><strong>#{{ .tag.Name }}</strong></span> <span>[{{ .posts.Total }} 篇文章]</span>
        <br>
        {{range $post:=.posts.Content}}
        <a href="{{$post.FullPath}}">{{$post.Title}}</a><br>
        {{end}}

        <hr>
        {{ template "tink/module/footer" .}}
    </tt>
</body>
</html>
{{end}}